<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/success.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>Success</title>
  </head>
  <body>
    <div class="main">
      <div class="container">
        <div class="img">
          <img src="./assets/images/icon-success.svg" alt="" />
        </div>

        <h1>Thanks for subscribing!</h1>

        <div class="description">
          <p>
            A confirmation email has been sent to <strong><%= email %></strong>. Please open it and
            click the button inside to confirm your subscription.
          </p>
        </div>

        <button id="dismiss-btn">Dismiss Message</button>

        <!-- JavaScript -->
        <script src="./js/index.js"></script>
      </div>
    </div>
  </body>
</html>
